.nav {
    background-color: rgba(0, 0, 0, 0.493);
    position: fixed;
    top: 2%;
    width: 100%;
    z-index: 10;
    overflow-x: hidden; 
}

.navitem {
    color: rgb(248, 248, 248);
    text-shadow: 5px;
}

.down {
    position: fixed;
    right: 50%;
    left:   50%;
    bottom: 5%;

}

.page {
    height: 100vh;
}